body {
  font-family: Arial;
  text-align: center;
  background: #f1f5f9;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px;
  cursor: pointer;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
}